<!-- INCLUDE overall_header.html -->


<div style="padding:50px">
  <h1>Passwörter zu Moodle Kursen</h1>
  <h3>Hier könnt ihr die Passworter sammeln, die ihr von den Professoren bekommen habt. Die Seite lebt von euch, nehmt euch also am Semesteranfang die Zeit und postet die Passwörter hier rein.<br>
  Wenn das alle machen, profitiert jeder.</h3>
  <p>Wenn du einen Eintrag verfassen möchtest, wähle bitte VORHER genau die Liste aus, in die das Passwort eingetragen werden soll. <br>
    Dann kannst du die Daten eintragen und bestätigen.
  </p>
</div>


<div class="content">

<!-- INCLUDEPHP pswrd_scrpt.php -->


</div>
<div style="height:3vw"></div>
<span class="corners-bottom">
  <span></span>
</span>


<!-- INCLUDE jumpbox.html -->
<!-- INCLUDE overall_footer.html -->
